@mixin font-prop($size: 1rem, $weight: 300, $color: #676767) {
  font-size: $size;
  font-weight: $weight;
  color: $color;
}

@mixin before-dot($wh: .3rem, $ht: .3rem) {
  display: block;
  content: '';
  width: $wh;
  height: $ht;
  border-radius: 50%;
  background-color: gray;
  position: absolute;
  top: 1.05rem;
  left: .4rem;
}

@mixin ellipsis($lines: 1) {
  @if ($lines == 1) {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  } @else {
    display: -webkit-box;
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-line-clamp: $lines;
    -webkit-box-orient: vertical;
  }
}

#particles {
  width: 100%;
  height: 200px;
}

#particles-js {
  width: 100%;
  height: 200px;
  background-color: silver;
}

.event-container {
  width: 900px;
  margin: 0 auto;
  .vote-event {
    input {
      display: none;
    }
    .vote-check {
      background-image: url("../images/unchecked.png");
      background-repeat: no-repeat;
      background-position: right top;
      display: inline-block;
      img {
        position: relative;
        z-index: -1;
      }
    }
    input[type="radio"]:checked + .vote-check {
      background-image: url("../images/checked.png");
    }
  }
}

.container {
  .slick-test {
    width: 300px;
    margin: 0 auto;
    .slick-arrow {
      &:before {
        color: silver;
      }
    }
    div {
      background-color: silver;
      height: 300px;
    }
  }
  .btn-area {
    text-align: center;
    margin-top: 5rem;
  }

  .swiper-main {
    width: 100%;
  }

  .swiper-sub {
    width: 600px;
    margin: 0 auto;
  }

  .bx-viewport {
    height: auto !important;
  }
  .bxslider {
    width: 100%;
    li {
      width: 300px;
      height: 600px;
      background-color: silver;
      margin: 1rem 0;
    }
  }
  .owl-nav {
    display: block !important;
  }

  .slide-wrap {
    width: 90%;
    margin: 0 auto;
    .slick-main {
      width: 100%;
      margin: 0 auto;
      .slick-slide {
        padding: 0 .6rem;
      }
      .slick-arrow {
        &:before {
          color: silver;
        }
      }
    }
  }
}

// 레이어 배경
.layer_popup {
  z-index: 100;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.5);
  // 중앙 배치되는 내용
  .content {
    display: inline-block;
    background: #f00;
    vertical-align: middle;
    padding: 1rem;
  }
  // 중앙으로 받쳐주는 가상 요소
  &:after {
    display: inline-block;
    content: '';
    width: 0;
    height: 100%;
    vertical-align: middle;
  }
}

.content-wrap {
  width: 800px;
  margin: 0 auto;
  .tap-menu {
    // li 개수별 width 값 자동 조정
    @for $i from 1 through 5 {
      li:nth-child(1):nth-last-child(#{$i}),
      li:nth-child(1):nth-last-child(#{$i}) ~ li {
        width: 100% / $i;
      }
    }
    li {
      position: relative;
      float: left;
      background-color: #fff;
      border: 1px solid #3d4268;
      cursor: pointer;
      // table 요소 추가
      div {
        display: table;
        width: 100%;
        min-height: 4rem;
        // 중앙 정렬되는 텍스트
        span {
          display: table-cell;
          vertical-align: middle;
          text-align: center;
        }
      }
      &:last-of-type {
        border-left: none;
      }
      // 활성탭
      &.active {
        background-color: #3d4268;
        span {
          @include font-prop(1rem, 400, #fff);
        }
      }
      // 모바일 크기 조정
      @media screen and (max-width: 400px) {
        span {
          font-size: .9rem;
        }
        &.active {
          span {
            font-size: .9rem;
          }
        }
      }
    }
    &:after {
      display: block;
      content: '';
      clear: both;
    }
  }
  .desc-list {
    li {
      position: relative;
      padding: .5rem .5rem 0 1rem;
      &:before {
        @include before-dot();
      }
      &:nth-of-type(1) {
        @include ellipsis(1);
      }
      &:nth-of-type(2) {
        @include ellipsis(2);
      }
    }
  }
  .count-list {
    counter-reset: dots;
    li {
      position: relative;
      padding: .5rem .5rem 0 2rem;
      &:before {
        counter-increment: dots;
        content: counter(dots);
        position: absolute;
        top: .5rem;
        left: .4rem;
      }
      &:nth-child(-n+9):before {
        content: "0" counter(dots);
      }
      &:nth-of-type(1) {
        @include ellipsis(1);
      }
      &:nth-of-type(2) {
        @include ellipsis(2);
      }
    }
  }
  .gradient-txt {
    display: inline-block;
    background: linear-gradient(to right, #fbcac9, #8ca6ce);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
}
.color-box {
  width: 60%;
  height: 900px;
  margin: 0 auto;
  background-color: silver;
}

